@import '_variables';
@import '_colors';

/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: $main-font;
}

/* HEADER */

/* NAV TOP */
.nav-top{
    width: 100%;
    height: 120px;
    background-color: $bg-black;

    &-container{
        @include container;
            /* NavBar settings */
        .nav-top-settings{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            color: $dark-grey;
            align-items: center;

            > ul{
                display: flex;

                > li{
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                     > i{
                         color: $blue-button;
                     } //end icons

                     > span{
                         padding-left: 10px;
                     } //end settings span (text)
                }//end li settings
            }// end ul settings
        }//end nav-top-settings

        /* NavBar Main */
        .nav-top-main{
            height: 50%;
            width: 100%;
            display: flex;
            color: white;
            align-items: center;

            > ul{
                width: 100%;
                display: flex;
                align-items: center;
            
                > li{
                    padding-left: 35px;

                    > span{
                        padding-left: 5px;
                        color: $dark-grey;
                    }//end angle arrow                    
                    > .logo{
                        width: 100px;
                        margin-bottom: 5px;
                    } //end logo
                }// end li navbar main
            }//end ul nav -main
        } // end nav-top-main
    }//end nav-top-container
}// end nav-top

.jumbotron{
    height: 500px;
    width: 100%;
    background-image: url($bg-jumbotron);
    

    &-container{
        @include container;
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;
        
        .jumbotron-description{
            width: 350px;
            color: $text-grey;

            .jumbotron-title{
                font-size: 30px;
                font-weight: 400;
                > span{
                    font-style: italic;
                    color: $purple;
                }
            }//end jumbotron title

            .jumbotron-title-description{
                font-size: 20px;
            }// end title description
            .jumbotron-list{
                padding: 20px 0 20px 0;
                > li{
                    padding: 0 0 10px 15px;
                    font-size: 18px;
                } //end li description                
            }// end jumbotron list
            .jumbotron-trial{
                padding: 15px;
                width: 250px;
                border: 2px solid $text-grey;
                display: flex;
                justify-content: space-around;
            }

        }//end jumbotron description

        .jumbotron-price-box{
            width: 350px;
            background-color: black;
            color: white;
            height: 80%;
            margin-left: 80px;
        }
    } // end Jumbotron Container;
} //end Jumbotron